<div id="employee-table">
    <ng-template #noData>
        <p class="empty-table">No employees</p>
    </ng-template>

    <ng-container *ngIf="employees.length > 0; else noData">
        <table>
            <thead>
                <tr>
                    <th>Employee name</th>
                    <th>Employee email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <!-- <ng-container
                        *ngIf="isEditing(employee.id); then editing; else notEditing">
                    </ng-container>  -->
                    <ng-container
                        *ngTemplateOutlet="isEditing(employee.id) ? editing: notEditing">
                    </ng-container>
                    <ng-template #editing>
                        <td> <input type="text" [(ngModel)]="employee.name" name="empName" autocomplete="off"/> </td>
                        <td> <input type="text" [(ngModel)]="employee.email" name="empEmail" autocomplete="off"/> </td>
                        <td>
                            <button (click)="onCancelEdit(employee)" class="muted-button" >Cancel</button> 
                            <button (click)="onEditEmployee(employee)">Save</button>
                        </td>
                    </ng-template>                       
                    <ng-template #notEditing>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>
                            <button (click)="onBeginEdit(employee)">Edit</button>
                            <button (click)="onDeleteEmployee(employee.id)">Delete</button>
                        </td>
                    </ng-template>                                    
                </tr>               
            </tbody>
          </table>
    </ng-container>
</div>